<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCXuncB2EH3TAvLc1v0p_VgwY5wk9nuXU</string>
	<key>GCM_SENDER_ID</key>
	<string>1000820839956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myactivityapp</string>
	<key>PROJECT_ID</key>
	<string>authenticationapp-ec67b</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationapp-ec67b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000820839956:ios:9d76e35a6600b81522b901</string>
</dict>
</plist>